html, body, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Arial;
  width: 100vw;
  overflow-x: hidden;
}

h1.logo {
  font-size: 44px;
  font-weight: 700;
  color: gold;
  text-shadow: black 0.001em 0.001em 0.001em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
}

h2 {
  color: gold;
  text-shadow: black 0.01em 0.01em 0.01em;
  text-align: center;
}

p {
  color: #000;
  text-align: center;
  margin: 0 20% 0 20%;
}

#infographics {
  width: 33%;
  min-width: 750px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  background-position: center;
}

#infographics:hover {
  width: 43%;
}

@media only screen and (max-width: 600px) {
  #infographics>* {
    width: 100%;
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  #go {
    text-align: center;
    background-position: center;
    margin-left: 46%;
    margin-top: 13%;
  }
  #bri {
    width: 300px;
    height: 300px;
  }
  #goi {
    width: 105px;
    height: 105px;
  }
}

#infographics>* {
  width: 33%;
  margin: 20px;
  float: left;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  background-position: center;
}

#infographics:hover>* {}

#Our_Player>*, #Developer>*, #Patron>* {
  text-align: center;
  display: inline-block;
}

#Our_Player:hover>*, #Developer:hover>*, #Patron:hover>* {
  display: inline-block;
}

#Our_Player p, #Developer p, #Patron p {
  margin-top: 20px;
  text-align: center;
}

#Our_Player:hover, #Developer:hover, #Patron:hover {
  background: gold;
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  animation-timing-function: linear;
  cursor: pointer;
  opacity: 1;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(800px) rotateX(50deg);
  transform: perspective(800px) rotateX(50deg);
  transition-duration: 1s;
  animation-timing-function: linear;
  cursor: pointer;
}

.obrazek:hover {
  width: 150px;
  height: 80px;
  transform: skewY(20deg);
  transition-duration: 0.7s;
}

a {
  color: black;
  text-decoration: none;
}

#Our_Player {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: gold;
}

#Developer {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: gold;
}

#Patron {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: gold;
}

.c {
  clear: both;
}

#topnav {
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 38px;
  line-height: 200%;
}

.menu>li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #fff;
}

.menu>li:first-child {
  border-left: 1px dashed #fff;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: gold;
}

#top-box {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  margin: 0px 0% 0% 0%;
  padding: 0%;
  background-image: url('../image/tlo.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#content-box {
  min-height: 50;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.fa {
  padding: 30px 20px 20px 20px;
  font-size: 30px width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  float: left;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  float: left;
  text-align: center;
}

#belt {
  background-color: gold;
}

footer {
  margin-top: 50px;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  background-position: center;
  position: center;
}

#social-icons {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  background-position: center;
  background-color: gold;
  float: left;
}

#scene {
  width: 100vw;
  height: 300px;
}

#br {
  width: 100%;
  height: 100%;
  background-image: url('../image/brama.png');
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: center;
}

#go {
  width: 100%;
  height: 100%;
  background-image: url('../image/goat.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}

#bri {
  width: 500px;
  height: 500px;
}

#goi {
  width: 180px;
  height: 180px;
}

.info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
  position: center;
  float: left;
}

.konteks {
  width: 100vw;
  height: 100vh;
  text-align: left;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 20pt;
}

@font-face {
  font-family: 'Montserrat', 'sans-serif';
}

.clear {
  clear: both;
}
